@import 'base/fonts';


* {
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;

}


@import 'blocks/sertificate';